[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djangorestframework-simplejwt = "==4.6.0"
django-cors-headers = "*"
djoser = "*"
django-environ = "*"

[requires]
python_version = "3.8"
