@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
/* ヘッダー */
.header_container{
   height: 70px; 
   /* position:fixed; */
   width: 100%;
   margin-top: -8px;
   /* z-index: 1; */
}
.header_body{
    display: flex;
    justify-content: space-between;
    background-color: rgb(169, 249, 255);
}
.header_link{
    text-decoration: none; 
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
}
.header_title_h3{
    font-family: 'Noto Sans JP', sans-serif;
    width: 220px;
}
.header_img{
    margin-left: 10px;
}
.header_nickname{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header_body_left{
    margin-left: 5%;
    display: flex;
}

.header_body_right{
    display: flex;
    margin-right: 5%;
}
/* ホーム */
.home_container{
    text-align: center;
}
.home_grouplist_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
/* グループ作成 */
.create_group_container{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:15px;
    margin-bottom:10px;
}

/* グループ一覧 */
.belong_to_group_container{
    width: 150px;
    height: 250px;
    border: solid skyblue;
}
.belong_to_group_body_top{
    height: 170px;
    width: 150px;
    background-color: thistle;
}
.belong_to_group_img{
    width: auto;
    height: 170px;
    max-width: 150px;
}
.belong_to_group_body_bottom{
    text-align: center;
}
.belong_to_group_h3{
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* プロフィール */

.profile_btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
/* イメージトリミング */
.image_trimming_container{
    position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 260px;
  height: 480px;
	margin: 'auto';
}
.image_tring_select{
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 260px;
    transform: translateX(-50%);
    height: 30px;
    display: flex;
    align-items: center;
    
}
.image_trimming_body{
    top:0;
    left:0;
    right:0;
    bottom: 40px; 
    position: absolute;
}
.profile_image_icon_input{
    display: none;
}
.image_slider{
    position: absolute;
    top: 95%;
    left: 30%;
    width: 220px;
    transform: translate(-30%,80%);
}
/* フッター */
.footer_container{
    margin-top: 250px;
    bottom: 0; /*下に固定*/
    text-align: center;
}
.footer_p_div{
    margin-top: -10px;
}
.footer_link{
    text-decoration: none; 
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}
/* お問い合わせ */
.contact_container{
    display: flex;
    justify-content: center;
}
.contact_body{
    width: 300px;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .header_title_h3{
        display: none;
    }
}